<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop.xsd
       					http://www.springframework.org/schema/context 
       					http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- 加载配置文件 
		"classpath:"前缀表示 src下在配置文件之后通过  ${key}获得内容
	-->
    <context:property-placeholder location="classpath:jdbctemplate_properties/jdbctemplate.properties"/>
    	
	<!-- 创建数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driverClass}"></property>
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
		<property name="user" value="${jdbc.user}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>
	
	<!-- 配置dao 
		* dao 继承 JdbcDaoSupport，之后只需要注入数据源，底层将自动创建模板
	-->
	<bean id="userDao" class="jdbctemplate_properties.UserDao">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

</beans>