<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/aop 
       					http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 1 创建目标类 -->
	<bean id="userService" class="aop_springaop.UserServiceImpl"></bean>

	<!-- 2 创建切面类 -->
	<bean id="myAspect" class="aop_springaop.MyAspect"></bean>

	<!-- 3 aop编程 
		3.1 导入命名空间
		3.2 使用 <aop:config>进行配置    proxy-target-class="true" 声明时使用cglib代理
			<aop:pointcut> 切入点 ，从目标对象获得具体方法
			<aop:advisor> 特殊的切面，只有一个通知 和 一个切入点
				advice-ref 通知引用
				pointcut-ref 切入点引用
		3.3 切入点表达式
			execution(*  com.itheima.c_spring_aop.*.*(..))
			选择方法     返回值任意   包          类名任意   方法名任意   参数任意
	-->
	<aop:config>
		<aop:pointcut expression="execution(* aop_springaop.*.*(..))" id="myPointCat" />
		<aop:advisor advice-ref="myAspect" pointcut-ref="myPointCat"/>
	</aop:config>
</beans>


