<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/mvc
       					   http://www.springframework.org/schema/mvc/spring-mvc.xsd
    					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd
       				       http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 加载配置文件 -->
    <context:property-placeholder location="spring_mybatis_mapper/db.properties"/>

    <!-- datasource -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" >
		<property name="driverClassName" value="${db.driverClassName}"></property>
		<property name="url" value="${db.url}"></property>
		<property name="username" value="${db.username}"></property>
		<property name="password" value="${db.password}"></property>
	</bean>
    
	<!-- sqlSessionFactory -->       					   
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<!-- 加载mybatis的配置文件 -->
    	<property name="configLocation" value="spring_mybatis_mapper/SqlMapConfig.xml"></property>
    	<!-- 数据源 -->
    	<property name="dataSource" ref="dataSource"></property>
    </bean> 
	
	
<!-- <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		设置代理类的接口
		<property name="mapperInterface" value="spring_mybatis_mapper.UserMapper"></property>
		依赖注入sqlSessionFactory
		<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean> -->


	<!-- 批量配置mapper代理类，默认bean的id为类名首字母小写 -->
	<!-- 批量扫描需要将mapper.java和mapper.xml映射文件名称保持一致，并在同一个目录下 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 配置扫描的包 ,如果扫描多个包用半角逗号分隔-->
		<property name="basePackage" value="spring_mybatis_mapper"></property>	
		
		<!-- 默认不需要配置sqlSessionFactory(只有一个sqlSessionFactory时)，单独配置也可以 -->
		<!-- <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property> -->
	</bean>
	
</beans>
